<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<h2>Add user</h2>
<div>
    <form th:action="@{/users/add}" th:object="${user}" method="post">
        <fieldset>
            <legend>User data</legend>
            <p>
                <label th:for="name">Name</label>
                <input type="text" name="name" th:id="name" th:value="${user.getName()}">
            <div style="color:indianred" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
            </p>
            <p>
                <label th:for="surname">Surname</label>
                <input type="text" name="surname" th:id="surname" th:value="${user.getSurname()}"><br/>
            <div style="color:indianred" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
            </p>
            <p>
                <label th:for="age">Age</label>
                <input type="text" name="age" th:id="age" th:value="${user.getAge()}"><br/>
            <div style="color:indianred" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
            </p>
            <label th:for="departament">Departament</label>
            <input type="text" name="departament" th:id="departament" th:value="${user.getDepartament()}"><br/>
            <div style="color:indianred" th:if="${#fields.hasErrors('departament')}" th:errors="*{departament}">Departament error</div>
            </p>
        </fieldset>
        <p>
            <button style="background:#bfe3ef" type="submit">Save user</button>
    </form>
    <br/>
    <form th:action="@{/}">
        <button style="background:#f3bfae" type="submit" class="btn btn-outline-danger">Back to user list</button>
    </form>
</div>
</body>
</html>