<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h2>ALL USERS</h2>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Departament</th>
        </tr>

        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}">Id</td>
            <td th:text="${user.getName()}">Name</td>
            <td th:text="${user.getSurname()}">Surname</td>
            <td th:text="${user.getAge()}">Age</td>
            <td th:text="${user.getDepartament()}">Departament</td>

            <td>
                <form th:action="@{users/edit/{id}(id=${user.id})}" th:object="${user}">
                    <button style="background:#bfe3ef" type="submit">Update</button>
                </form>
            </td>
            <td>
                <form th:action="@{users/delete(id=${user.id})}" th:object="${user}">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <button style="background:#f3bfae" type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    <form th:action="@{users/add}">
        <button style="background:#bfe3ef" type="submit">Add new user</button>
    </form>
</div>

</body>
</html>